/Figures/*
/Input Data/*
/MAT Files/Old/
/Old/
/Other Files/*
/Parsed Data/*
/Scratch/*
Scratch.m
/Results/Tracking
/PostProcessing/__pycache__
/PostProcessing/Input
/PostProcessing/Output
/PostProcessing/.venv
